<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/security
		 http://www.springframework.org/schema/security/spring-security-4.2.xsd">

<security:http use-expressions="true" >
<security:intercept-url pattern="/index.jsp" access="permitAll"/>
<security:intercept-url pattern="/pages/admin.jsp" access="hasRole('admin')"/>
<security:intercept-url pattern="/pages/faculty.jsp" access="hasRole('faculty')"/>
<security:form-login/>
</security:http>


<security:authentication-manager>
<security:authentication-provider>
<security:user-service>
<security:user name="sagar" password="{noop}sag" authorities="admin" locked="true"/>
<security:user name="raja" password="{noop}raj" authorities="faculty" />
</security:user-service>
</security:authentication-provider>
</security:authentication-manager>
</beans>
